include LICENSE
include README.md
include pyproject.toml
include setup.py
include scripts/sync_python_package_data.py
include scripts/python_package_data.toml

recursive-include src/riley *.py *.pxd *.h *.zig

prune src/riley/__pycache__
prune src/riley/cyth/__pycache__
prune src/riley/zig/__pycache__
prune src/riley_raster.egg-info
prune src/riley.egg-info

global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
global-exclude *.html
